/* General */

.box {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 30px;
}

/* Search Container */

#search {
    padding: 10px;
}

.header {
    border-bottom: 0.5px solid darkgray;
}

.header h4 {
    font-size: 1.1vw;
}

.input-field {
    margin-top: 20px;
}

label, input {
    font-size: 0.75vw;
}

#searchButton {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.incorrectFormat {
    border: 2px solid red;
}

/* Results Container */

#results {
    height: 30vw;
    overflow-y: scroll;
    padding: 10px;
}