html {
    font-family: "Roboto";
}

/* General Navbar */

.container-fluid {
    border-bottom: 0.5px solid lightgray;
    margin-bottom: 30px;
}

/* Navbar Content */

h5 {
    font-size: 2vw;
}

#NYTLogo {
    padding-top: 10px;
    width: 20vw;
}